root = true
  [*]
  indent_style = space
  indent_size = 2
  // 用于解决eslint中保存结尾为crlf的问题
  end_of_line = lf
  charset = utf-8p
  // 换行空格
  trim_trailing_whitespace = true
  insert_final_newline = true

  [*.md]
  trim_trailing_whitespace = false

  [Makefile]
  indent_style = tab
